@font-face {
  font-family: 'Palgars';
  src: url('../assets/fonts/Palgars.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Moon';
  src: url('../assets/fonts/Moon\ Walk.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Retro';
  src: url('../assets/fonts/Retro\ Floral.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit-light';
  src: url('../assets/fonts/OutfitLight1.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit-regular';
  src: url('../assets/fonts/OutfitRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit-semi-bold';
  src: url('../assets/fonts/OutfitSemiBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



/* =======================
   TITRES
======================= */

.title-xl {
  font-family: 'Palgars', sans-serif;
  font-size: 48px;
  line-height: 1.2;
}

.title-lg {
  font-family: 'Palgars', sans-serif;
  font-size: 36px;
  line-height: 1.3;
}

.title-md {
  font-family: 'Moon', sans-serif;
  font-size: 28px;
  line-height: 1.3;
}

.title-sm {
  font-family: 'Moon', sans-serif;
  font-size: 22px;
  line-height: 1.4;
}


/* =======================
   TEXTES
======================= */

.text-lg {
  font-family: 'Outfit-regular', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.text-md {
  font-family: 'Outfit-regular', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.text-sm {
  font-family: 'Outfit-light', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.text-xs {
  font-family: 'Outfit-light', sans-serif;
  font-size: 12px;
  line-height: 1.4;
}


/* =======================
   TEXTES IMPORTANTS
======================= */

.text-bold {
  font-family: 'Outfit-semi-bold', sans-serif;
  font-size: 16px;
}

.text-highlight {
  font-family: 'Outfit-semi-bold', sans-serif;
  font-size: 18px;
}

.text-numeric {
  font-family: 'Outfit-semi-bold', sans-serif;
  font-size: 24px;
}
/* =======================
   METADATA (dates, infos)
======================= */

.text-meta {
  font-family: 'Outfit-light', sans-serif;
  font-size: 13px;
  opacity: 0.8;
}

